<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manu Rodriguez</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styless.css' %}"/>
</head>
<body>
    <div class="wrapper">
        <nav>
            <a class="bar" href="{% url 'home' %}">Manu Rodriguez</a>
            <input type="checkbox" name="" id="toggle">
            <label for="toggle"><i class="material-icons">menu</i></label>
            <div class="menu">
                <ul>
                    <li>
                        <a class="bar" href="{% url 'home' %}#header">About</a>
                    </li>
                    <li>
                        <a class="bar" href="{% url 'home' %}#projects">Projects</a>
                    </li>
                    <li>
                        <a class="bar" href="{% url 'home' %}#skills">Skills</a>
                    </li>
                    <li>
                        <a class="bar" href="{% url 'home' %}#contact">Contact Me</a>
                    </li>
                    <li>
                        <a class="download" href="{% static 'Manuel Esteban.pdf' %}" target="_black">Download CV</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>